.contact{
  background: lightgray;
  width: 100%;
  height: 500px;
  float: left;
  padding-top: 180px;
  outline: none;
} 

.input{
  width: 100%;
  float: left;
background: red;
outline: none;
}

.input input[type="text"], .input input[type="email"]{
  max-width: 350px;
  width: 100%;
  padding: 10px;
  margin: 10px;
  outline: none;
}

.textarea {
  background: red;
  float: left;
  width: 100%;
  outline: none;
}

.textarea textarea {
max-width: 350px;
width: 100%;
padding: 11.5px;
margin-left: 10px;
margin: 10px;
outline: none;
}

.input input[type="submit"]{
width: 80px;
border-radius: 5px;
padding: 5px;
background: pink;
outline: none;
}
