/*MAIN LAYOUT FOR PORTFOLIO SECTION*/
#main-portfolio {
  width: 100%;
  height: 70%;
  background: black;
  float: left;
  padding-top: 110px;
}

#huvud{
  color: white;
  padding-top: 110px;
}
 
.portfolio-item{
  max-height: 500px;
  padding-top: 10px;
  text-align: center;
}

.portfolio-content {
  background: white;
  width: 100%;
  max-width: 1300px;
  height: 900px;
  margin: 0 auto;
}

.portfolio-item{
  float: left;
  position: relative;
}

.portfolio-item img{
  width: 226px;
}
